select-multiple {
  --select-multiple-custom-font-color: #ffffff;
  --select-multiple-custom-background-color: #5897fb;
}

select-input {
  min-height: 38px;
  padding: 6px;
  gap: 6px;
}

select-input::before {
  line-height: 24px;
}

select-tag {
  color: var(--select-multiple-custom-font-color);
  background: var(--select-multiple-custom-background-color);
  padding: 0 6px;
  height: 24px;
  border: none;
}

select-tag:first-child {
  margin-left: -6px;
}

select-remove {
  font-size: 24px;
  line-height: 18px;
}

select-item:hover {
  color: var(--select-multiple-custom-font-color);
  background: var(--select-multiple-custom-background-color);
}
