/**
 * All the necessary styles for a select-multiple package
 */

select-multiple *, select-multiple *::before, select-multiple *::after {
  box-sizing: border-box;
}

select-multiple {
  position: relative;
  display: inline-block;

  --select-multiple-font-color: #000000;
  --select-multiple-font-invert-color: #000000;
  --select-multiple-background-color: #ffffff;
  --select-multiple-border-color: #767676;
  --select-multiple-shadow-color: #00000040;

  --select-multiple-font-size: 13.3333px;

  --select-multiple-tag-height: 20px;
  --select-multiple-tag-gap: 4px;

  --select-multiple-list-height: 206px;
  --select-multiple-item-height: 17px;
}

@media (prefers-color-scheme: dark) {
  select-multiple {
    --select-multiple-font-color: #ffffff;
    --select-multiple-font-invert-color: #000000;
    --select-multiple-background-color: #3b3b3b;
    --select-multiple-border-color: #858585;
  }
}

select-multiple + select[multiple] {
  display: none !important;
}

select-multiple[data-loading="true"] *:not(select-input) {
  visibility: hidden;
  opacity: 0;
}

select-multiple select-input {
  display: flex;
  flex-wrap: wrap;
  gap: var(--select-multiple-tag-gap);
  background: var(--select-multiple-background-color);
  border: 1px solid var(--select-multiple-border-color);
  border-radius: 2px;
  min-height: 30px;
  padding: 4px;
}

select-multiple select-input::before {
  content: attr(data-placeholder) "\200B";
  color: var(--select-multiple-font-color);
  line-height: var(--select-multiple-tag-height);
  font-size: var(--select-multiple-font-size);
  font-family: Arial;
  opacity: 0.5;
}

select-multiple select-input:focus {
  outline: 2px solid var(--select-multiple-font-color);
  outline-offset: -1px;
  border-radius: 3px;
}

select-multiple select-input:not(:empty)::before {
  content: "\200B"; /* Zero-width space */
}

select-multiple select-input select-tag:first-child {
  margin-left: calc(-1 * var(--select-multiple-tag-gap));
}

select-multiple select-input select-tag {
  display: flex;
  align-items: center;
  column-gap: 2px;
  font-family: Arial;
  font-size: var(--select-multiple-font-size);
  color: var(--select-multiple-font-color);
  height: var(--select-multiple-tag-height);
  background: var(--select-multiple-background-color);
  border: 1px solid var(--select-multiple-border-color);
  border-radius: 2px;
  padding: 0 3px;
  cursor: default;
}

select-multiple select-input select-tag select-remove {
  font-size: var(--select-multiple-tag-height);
  line-height: var(--select-multiple-tag-height);
  margin-right: -1px;
  padding: 0 1px;
  user-select: none;
  cursor: pointer;
}

select-multiple select-input select-tag select-remove:focus-visible {
  outline: 2px solid var(--select-multiple-font-color);
  border-radius: 3px;
}

select-multiple select-list {
  visibility: hidden;
  position: absolute;
  list-style: none;
  user-select: none;
  overflow-y: scroll;
  background: var(--select-multiple-background-color);
  box-shadow: 0 0 16px var(--select-multiple-shadow-color);
  border: 1px solid var(--select-multiple-border-color);
  max-height: var(--select-multiple-list-height);
  min-width: min-content;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
}

select-multiple select-list[data-visible="true"] {
  visibility: visible;
}

select-multiple select-list select-item {
  display: list-item;
  font-family: Arial;
  font-size: var(--select-multiple-font-size);
  color: var(--select-multiple-font-color);
  min-height: var(--select-multiple-item-height);
  padding: 1px 4px;
}

select-multiple select-list select-item[data-visible="false"] {
  display: none;
}

select-multiple select-list select-item:focus-visible {
  outline: 2px solid var(--select-multiple-font-color);
  outline-offset: -1px;
  border-radius: 3px;
}

select-multiple select-list select-item:hover {
  color: var(--select-multiple-font-invert-color);
  background: Highlight;
  cursor: pointer;
}
