/**
 * All the necessary styles for a select-multiple package
 */

select-multiple *, select-multiple *::before, select-multiple *::after {
  box-sizing: border-box;
}

select-multiple {
  position: relative;
  display: inline-block;

  --select-multiple-font-color: #000000;
  --select-multiple-background-color: #ffffff;
  --select-multiple-border-color: #767676;
  --select-multiple-shadow-color: #b9b9b9;

  --select-multiple-font-size: 13.3333px;

  --select-multiple-tag-height: 20px;
  --select-multiple-tag-gap: 4px;

  --select-multiple-list-height: 206px;
  --select-multiple-item-height: 17px;
}

select-multiple + select[multiple] {
  display: none !important;
}

select-multiple select-input {
  display: flex;
  flex-wrap: wrap;
  gap: var(--select-multiple-tag-gap);
  background: var(--select-multiple-background-color);
  border: 1px solid var(--select-multiple-border-color);
  border-radius: 2px;
  min-height: 30px;
  padding: 4px;
}

select-multiple select-input::before {
  content: attr(data-placeholder) "\200B";
  line-height: var(--select-multiple-tag-height);
  opacity: 0.5;
}

select-multiple select-input:not(:empty)::before {
  content: "\200B"; /* Zero-width space */
}

select-multiple select-input select-tag:first-child {
  margin-left: calc(-1 * var(--select-multiple-tag-gap));
}

select-multiple select-input select-tag {
  display: flex;
  align-items: center;
  column-gap: 2px;
  font-family: Arial;
  font-size: var(--select-multiple-font-size);
  color: var(--select-multiple-font-color);
  height: var(--select-multiple-tag-height);
  border: 1px solid var(--select-multiple-border-color);
  border-radius: 2px;
  padding: 1px 2px;
  cursor: default
}

select-multiple select-input select-tag select-remove {
  width: 14px;
  font-size: 20px;
  line-height: 16px;
  user-select: none;
  cursor: pointer;
}

select-multiple select-list {
  visibility: hidden;
  position: absolute;
  list-style: none;
  user-select: none;
  overflow-y: scroll;
  background: var(--select-multiple-background-color);
  box-shadow: 0 0 16px var(--select-multiple-shadow-color);
  border: 1px solid var(--select-multiple-border-color);
  max-height: var(--select-multiple-list-height);
  min-width: min-content;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
}

select-multiple select-list[data-visible="true"] {
  visibility: visible;
}

select-multiple select-list select-item {
  display: list-item;
  font-family: Arial;
  font-size: var(--select-multiple-font-size);
  color: var(--select-multiple-font-color);
  min-height: var(--select-multiple-item-height);
  padding: 1px 4px;
}

select-multiple select-list select-item[data-visible="false"] {
  display: none;
}

select-multiple select-list select-item:hover {
  background: Highlight;
  cursor: pointer;
}
